## S-109A Milestone 4
## Twitter Bot Detection Model Analysis

**Summer 2018**<br>
**Contributers:** Vivek Mishra and Karan Bhandarkar

In [1]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
import json
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
from bs4 import BeautifulSoup
import re
#import unidecode
from pandas.plotting import scatter_matrix
from wordcloud import WordCloud, STOPWORDS

In [2]:
account_full_DF = pd.read_json("data/account_details.json", lines=True)
tweets_full_DF = pd.read_json("data/tweets.json", lines=True)

In [3]:
account_full_DF.columns

Index(['contributors_enabled', 'created_at', 'default_profile', 'default_profile_image', 'description', 'entities', 'favourites_count', 'follow_request_sent', 'followers_count', 'following', 'friends_count', 'geo_enabled', 'has_extended_profile', 'id', 'id_str', 'isBot', 'is_translation_enabled', 'is_translator', 'lang', 'listed_count', 'location', 'name', 'notifications', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https',
       'profile_background_tile', 'profile_banner_url', 'profile_image_url', 'profile_image_url_https', 'profile_link_color', 'profile_location', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'protected', 'screen_name', 'status', 'statuses_count', 'time_zone', 'translator_type', 'url', 'utc_offset', 'verified'],
      dtype='object')

In [4]:
tweets_full_DF.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range', 'entities', 'extended_entities', 'favorite_count', 'favorited', 'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'isBot', 'is_quote_status', 'lang', 'name', 'place', 'possibly_sensitive', 'quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink', 'retweet_count', 'retweeted',
       'source', 'truncated', 'user'],
      dtype='object')

In [5]:
accountDF = account_full_DF[['id','isBot','name','id_str','screen_name','location','description','url','following','followers_count','friends_count','listed_count','created_at','favourites_count','verified','statuses_count','lang','status','default_profile','default_profile_image','has_extended_profile']]
tweetsDF = tweets_full_DF[['name','isBot','full_text','lang','created_at','retweeted','entities','coordinates','retweet_count','favorite_count','place','geo','is_quote_status']]

In [6]:
accountDF

                    id  isBot                     name              id_str      screen_name                                       location                                        description                      url  following  followers_count  friends_count  listed_count          created_at  favourites_count  verified  statuses_count   lang                                             status  default_profile  default_profile_image  has_extended_profile
0             21287212      1               FintechBot            21287212       FintechBot                             Sheffield, England  A little twitter bot for all the latest financ...   http://t.co/shU9OfwfD8        NaN             9150            992          1026 2009-02-19 10:03:21               259     False          113719     en  {'created_at': 'Fri Jul 27 23:13:27 +0000 2018...            False                  False                 False
1   829186945267834880      1              CATargetBot  829186945267834880      CATargetBot                                  The Cloud, CA  2018 Federal/CA candidacy/committee filings, c...  https://t.co/XHsD8f9rGH        NaN             1431              1            44 2017-02-08 04:35:48                12     False           18981     en  {'created_at': 'Sat Jul 28 00:30:05 +0000 2018...             True                  False                 False
2   950406387632402433      1             Finance Feed  950406387632402432  InvestorNewsBot                                 United Kingdom  UK Investment Information from a variety of fe...                     None        NaN                7             14             0 2018-01-08 16:38:35                 0     False            7320     en  {'created_at': 'Fri Jul 27 16:01:05 +0000 2018...             True                  False                 False
3            407659112      1       Forex Trading Bots           407659112     FxTradingBot                                           Riga                         #ForexTrading #ForexRobots  https://t.co/EQbbvN1nWT        NaN            30851          33827           494 2011-11-08 10:54:31                 6     False          109179     en  {'created_at': 'Sat Jul 28 00:30:01 +0000 2018...             True                  False                 False
4   906021147015135232      1                  PFD Bot  906021147015135232           pfdbot                                  Anchorage, AK  Tweeting out the companies Alaskans own in the...  https://t.co/cum0F6SCOd        NaN              175              0             1 2017-09-08 05:07:29                 1     False           25733     en  {'created_at': 'Sat Jul 28 00:30:28 +0000 2018...             True                  False                 False
5   964161357959651328      1        CoinMarketCal Bot  964161357959651328        cmcal_bot                                                 Beep Bop! I am the official CoinMarketCal bot....  https://t.co/qkBQGxkS5e        NaN             4328              2            93 2018-02-15 15:35:55                 0     False            3466     en  {'created_at': 'Fri Jul 27 20:22:53 +0000 2018...            False                  False                 False
6           1203840834      1              Netflix Bot          1203840834      netflix_bot                                 Silicon Valley  Tweets new releases on Netflix Instant. Create...   http://t.co/i4spceQkYr        NaN             6695              1             0 2013-02-21 10:12:23               163     False           11551     en  {'created_at': 'Fri Jun 29 12:30:10 +0000 2018...            False                  False                 False
7           2216299843      1            olivia taters          2216299843     oliviataters                                                                                           ugh dad                     None        NaN             6845           5280           293 2013-11-26 19:50:33             77275     False           50896     en  {'created_at': 'Fri Jul 27 22:50:04 +0000 2018...             True                  False                 False
8           1249693405      1           Dear Assistant          1249693405    DearAssistant                                    Twitter Bot  I am a Twitter bot and I'll try to answer your...   http://t.co/8P3zxTfCWF        NaN             4701              1           146 2013-03-07 17:56:44                11     False            5317     en  {'created_at': 'Mon Jun 20 02:56:26 +0000 2016...            False                  False                 False
9           2704554914      1              Reverse OCR          2704554914       reverseocr                                                 A bot that picks a word and then draws randoml...   http://t.co/r2HzjsqHTU        NaN             2286              1           228 2014-08-03 17:26:28                 0     False            4657     en  {'created_at': 'Mon Oct 30 18:07:31 +0000 2017...             True                  False                 False
10          2508960524      1               Museum Bot          2508960524        MuseumBot                  (not affiliated with the Met)  I am a bot that tweets a random high-res Open ...   http://t.co/qTVWPkaIgo        NaN             8281              1           430 2014-05-20 01:32:24                 3     False            3758     en  {'created_at': 'Wed Aug 02 20:59:07 +0000 2017...             True                  False                 False
11           516047986      1              Pentametron           516047986      pentametron                        Stratford-upon-Internet  With algorithms subtle and discrete / I seek i...   http://t.co/yk15FkTz2X        NaN            25197              2           673 2012-03-06 01:10:57               127     False           57028     en  {'created_at': 'Fri Jul 27 13:53:17 +0000 2018...             True                  False                 False
12  722117494899679232      1                   DFRLab  722117494899679232           DFRLab                                 Washington, DC  @AtlanticCouncil's Digital Forensic Research L...  https://t.co/3BJaKxPmoe        NaN            16662            271           516 2016-04-18 17:40:01               459      True            2637     en  {'created_at': 'Thu Jul 26 02:39:34 +0000 2018...             True                  False                 False
13  798264883062206469      1          sunneversets100  798264883062206464  sunneversets100                                                 Larouche : U.S.  Needs Infrastructure; But Tru...                     None        NaN              594           4927           275 2016-11-14 20:42:34              1025     False          196307     en  {'created_at': 'Mon May 01 05:43:57 +0000 2017...             True                  False                 False
14  769810679016464384      1       TrumpIsBlackLikeMe  769810679016464384    BlackManTrump                                            USA  The #Globalists are in a panic. And their play...                     None        NaN              480            261            41 2016-08-28 08:15:43              1387     False           91379     en  {'created_at': 'Fri Jul 27 02:54:56 +0000 2018...            False                  False                 False
15  789404739595218944      1     Proletariat Striving  789404739595218944  ProletStrivings                      Reservoir Hill, Baltimore  Wake up. #Resist. Shower. #Persist. Go to work...                     None        NaN             3779           4228            10 2016-10-21 09:55:31              7626     False           11620     en  {'created_at': 'Fri Jul 27 23:56:21 +0000 2018...            False                  False                 False
16           711602798      1     #PlaySlots4RealMoney           711602798       every1bets                               Montréal, Québec  We review online #casinos #gambling #Bitcoins ...  https://t.co/WNOaSLLPK3        NaN            20914           2124           126 2012-07-23 01:50:48              1605     False           14347     en  {'created_at': 'Thu Jul 26 16:15:00 +0000 2018...            False                  False                 False
17            16225922      1                 cyberage            16225922         cyberage                                                                                                                       None        NaN                6           1176             0 2008-09-10 19:16:39                 1     False              18     en  {'created_at': 'Wed Feb 01 19:26:26 +0000 2012...             True                   True                 False
18  883844032681717760      1         @Cyber Age Media  883844032681717760   CyberAgeonline                                 Abuja Nigeria                                                      https://t.co/vOgKsOZRug        NaN               41            162             0 2017-07-09 00:23:33               122     False           35959  en-gb  {'created_at': 'Fri Jul 06 13:26:05 +0000 2018...             True                  False                 False
19  883858027748749317      1         @cyberage/online  883858027748749312     stoneblack18                                                                                                    https://t.co/vOgKsOZRug        NaN               22             88             0 2017-07-09 01:19:09                 0     False           35951  en-gb  {'created_at': 'Fri Jul 06 13:26:06 +0000 2018...             True                  False                 False
20          4128946034      1           SanJacintoClan          4128946034   SanJacintoClan  Galveston Island in the Great State of  Texas  8th Gen. Austin’s Colony, 7th Gen. Lateral of ...  https://t.co/DbSKVTTHlK        NaN             2544           4993            18 2015-11-04 23:30:43              8681     False           14751     en  {'created_at': 'Fri Jul 27 23:32:18 +0000 2018...            False                  False                  True
21           174958347      1             Horse ebooks           174958347     Horse_ebooks                                                                                      Horse ebooks   http://t.co/pVoIka58TM        NaN           162245          14487          1747 2010-08-05 07:18:32                 1     False           18826     en  {'created_at': 'Tue Sep 24 14:01:27 +0000 2013...             True                  False                 False
22  822217507893190656      1           That is a bot!  822217507893190656       thatisabot                                                 We've created this account to make it easy for...  https://t.co/f08vrukcfD        NaN             1070              0            10 2017-01-19 23:01:44                 0     False              23     en  {'created_at': 'Thu Nov 09 16:12:04 +0000 2017...             True                  False                 False
23  797869498757955589      1     here's your reminder  797869498757955584      tinycarebot                                                 please take a break! for a personal reminder, ...  https://t.co/oEEqs0UuzR        NaN           129519              2           874 2016-11-13 18:31:27                 0     False           67725     en  {'created_at': 'Sat Jul 28 00:32:22 +0000 2018...            False                  False                 False
24          3325527710      1         Thinkpiece Bot 🌹          3325527710    thinkpiecebot                                                 A bot by @NoraReed Patreon: https://t.co/f7OKH...  https://t.co/Z49vqlFP4x        NaN            31469             69           708 2015-08-23 03:09:38               429     False           29224     en  {'created_at': 'Sat Jul 28 00:11:59 +0000 2018...            False                  False                 False
25  829095470873997317      1           Emoji Aquarium  829095470873997312    EmojiAquarium                                     Underwater  I am a bot. Every few hours I show you a tiny ...  https://t.co/l8YjoK5AKV        NaN            15703              3           224 2017-02-07 22:32:18                 0     False            4228     en  {'created_at': 'Fri Jul 27 22:33:32 +0000 2018...             True                  False                 False
26          1661404440      1  きーくん@フライ返し(固定ツイート見てみて！)          1661404440            0578K                                        地球上のどこか                                                                        None        NaN              910            960            47 2013-08-11 02:26:29             40867     False          149239     ja  {'created_at': 'Fri Jul 27 22:00:31 +0000 2018...            False                  False                  True
27          2928556470      1            そろそろ消えます@速度制限          2928556470  0cNAmS2t0jncEjp                           速度制限中は浮上率激減&フォロバ不可です            #fatego #shadowverse  別アカはこちら→@card3099                     None        NaN              861            787            10 2014-12-13 13:29:47            108056     False           38448     ja  {'created_at': 'Fri Nov 18 03:18:49 +0000 2016...             True                  False                 False
28          2901953015      1      ‏رحمةُ اللهِ واسعةْ          2901953015  14ca3911ca384a1                                                 ‏‏‏‏‏‏‏نتعاطي الخيالٰ # عندمأااااااْ ٰ .. يؤوو...                     None        NaN              959            887             1 2014-12-02 06:03:32               305     False           17011     ar  {'created_at': 'Sat Jul 28 00:14:48 +0000 2018...             True                  False                 False
29           168789642      1             marci nelson           168789642           1jedi2                                      Lacey, WA  *Illusion of Democracy*\n\n*Silence IS Complic...                     None        NaN             1743           4285            64 2010-07-20 20:18:54              6644     False           91651     en  {'created_at': 'Fri Jul 27 23:29:27 +0000 2018...            False                  False                  True
..                 ...    ...                      ...                 ...              ...                                            ...                                                ...                      ...        ...              ...            ...           ...                 ...               ...       ...             ...    ...                                                ...              ...                    ...                   ...
70          2961589380      0          Liz Ann Sonders          2961589380    LizAnnSonders                                       New York  Chief Investment Strategist, Charles Schwab & ...  https://t.co/ZqWaFdit5g        NaN            54687            516           921 2015-01-06 23:33:53              2394      True            5825     en  {'created_at': 'Fri Jul 27 14:52:39 +0000 2018...             True                  False                  True
71            21232827      0        Ryan Detrick, CMT            21232827      RyanDetrick                   Fort Mill, SC via Cincinnati  Senior Market Strategist, LPL Financial Member...  https://t.co/12NJjsmIHO        NaN            45434            751          1396 2009-02-18 19:45:42             20453     False           37374     en  {'created_at': 'Fri Jul 27 21:16:23 +0000 2018...            False                  False                  True
72            16732770      0        CNBC's Fast Money            16732770    CNBCFastMoney                                         NASDAQ  Fast Money with @MelissaLeeCNBC airs weeknight...  https://t.co/g476qiApSd        NaN           248818           1331          3519 2008-10-14 03:16:30              2504      True           43609     en  {'created_at': 'Sat Jul 28 00:24:13 +0000 2018...            False                  False                 False
73          1528558014      0     Patrick OShaughnessy          1528558014    patrick_oshag                                   New York, NY  CEO @ O’Shaughnessy Asset Management; Learn, B...  https://t.co/T1x29bRXMG        NaN            49090            471          1130 2013-06-18 19:06:20             12845     False            8646     en  {'created_at': 'Fri Jul 27 20:56:24 +0000 2018...            False                  False                  True
74           202915788      0             Chris Kimble           202915788   KimbleCharting                     United States 877-721-7217  I use the power of the chart pattern to find e...  https://t.co/BzLBt4Y3ak        NaN            25753            541           789 2010-10-15 03:02:42              5275     False            9864     en  {'created_at': 'Fri Jul 27 14:49:14 +0000 2018...            False                  False                 False
75           961132338      0         Matthew C. Klein           961132338        M_C_Klein                             Chicagoan in exile  "Why are you discussing this idiocy? Don't you...  https://t.co/XIQD4av21b        NaN            21287            558           959 2012-11-20 20:17:52             38463      True           49711     en  {'created_at': 'Fri Jul 27 21:35:39 +0000 2018...             True                  False                 False
76             7748752      0             Robin Hanson             7748752      robinhanson                                    Fairfax, VA  Let's skip witty repartee & position taking, &...  https://t.co/j3jGDLHJBX        NaN            20936            393           587 2007-07-27 00:20:08             10908      True           10143     en  {'created_at': 'Fri Jul 27 20:05:28 +0000 2018...            False                  False                  True
77            22396478      0        Izabella Kaminska            22396478      izakaminska                                         London  Editor of the Financial Times’ Alphaville blog...                     None        NaN            44124           1574          2011 2009-03-01 19:34:36              6359     False           34848     en  {'created_at': 'Thu Jul 26 20:49:27 +0000 2018...            False                  False                 False
78            19997064      0                Meb Faber            19997064         MebFaber                            Manhattan Beach, CA  I don’t talk funds here!!  Free 📕 on Global As...  https://t.co/T7E2Ngs8OG        NaN            46273            713          1486 2009-02-03 19:39:44              9652      True            9690     en  {'created_at': 'Fri Jul 27 20:04:02 +0000 2018...             True                  False                  True
79           119466953      0               Carol Roth           119466953      caroljsroth                            Chicago & Airplanes  Entrepreneur/Play Myself on TV. Creator-Future...   http://t.co/0Qri5ufDSu        NaN            50545          17047          2222 2010-03-03 18:59:38             47206      True           41741     en  {'created_at': 'Fri Jul 20 20:44:21 +0000 2018...            False                  False                 False
80            40471897      0          John P. Hussman            40471897        hussmanjp                                       Maryland  Economist, philanthropist, researcher. Finance...   http://t.co/gP0NrpfUHA        NaN            23970            409           696 2009-05-16 14:29:01              1201     False            3842     en  {'created_at': 'Fri Jul 27 19:14:01 +0000 2018...            False                  False                 False

In [7]:
tweetsDF.head()

         name  isBot                                          full_text lang          created_at  retweeted                                           entities coordinates  retweet_count  favorite_count place   geo  is_quote_status
0  FintechBot      1  What Is Scroll Cryptocurrency? https://t.co/dg...   en 2018-07-27 23:13:27      False  {'hashtags': [], 'symbols': [], 'user_mentions...        None              2               0  None  None            False
1  FintechBot      1  Coinbase Enables European Customers to Buy Vir...   en 2018-07-27 22:45:09      False  {'hashtags': [], 'symbols': [], 'user_mentions...        None              1               1  None  None            False
2  FintechBot      1  NHS Digital leading the protection of patient ...   en 2018-07-27 22:29:29      False  {'hashtags': [], 'symbols': [], 'user_mentions...        None              0               0  None  None            False
3  FintechBot      1  Top 3 Companies Using Blockchain in the Solar ...   en 2018-07-27 22:13:28      False  {'hashtags': [], 'symbols': [], 'user_mentions...        None              0               0  None  None            False
4  FintechBot      1  VC Firms Are Betting on the Technology, Not on...   en 2018-07-27 21:13:29      False  {'hashtags': [], 'symbols': [], 'user_mentions...        None              2               0  None  None            False

In [8]:
## Merging two data frames on IsBot columns

tweets_with_accounts = pd.merge(tweetsDF, accountDF, left_on="name", right_on="screen_name", how="left")

In [9]:
print("TweetsDF count is {} and AccountDF count is {} and tweetsWithAccountDF count is {}".
      format(len(tweetsDF), len(accountDF), len(tweets_with_accounts)))

TweetsDF count is 10396 and AccountDF count is 100 and tweetsWithAccountDF count is 10396

In [12]:
## Splitting the data into training and test data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Removing NaN indexes from dataframe
tweets_with_accounts = tweets_with_accounts[tweets_with_accounts.followers_count.notnull()]


training_data, test_data = train_test_split(tweets_with_accounts, test_size=.2)



print(" Training data size is {} and test data size is {}".format(len(training_data), len(test_data)))

 Training data size is 8290 and test data size is 2073

In [13]:
num_features =  ["retweet_count", "favorite_count", "followers_count", "friends_count",
                 "listed_count", "favourites_count", "statuses_count"]

scaler = StandardScaler()
for feat in num_features:
    #print(training_data[feat].values)
    training_data[feat] = scaler.fit_transform(training_data[feat].values.reshape(-1,1))
    test_data[feat] = scaler.fit_transform(test_data[feat].values.reshape(-1,1))

In [14]:
X_train = training_data[["retweet_count", "favorite_count", "followers_count", "friends_count","listed_count", "favourites_count", "statuses_count"]]
y_train = training_data[["isBot_x"]]

X_test = test_data[["retweet_count", "favorite_count", "followers_count", "friends_count","listed_count", "favourites_count", "statuses_count"]]
y_test = test_data[["isBot_x"]]

In [15]:
print("X_train shape is {}, and y_train shape is {}".format(X_train.shape, y_train.shape))

X_train shape is (8290, 7), and y_train shape is (8290, 1)

###  We are trying starting with a Base Model of a simple Logistic Regression Model

In [16]:
from sklearn.linear_model import LogisticRegression

from sklearn.linear_model import LogisticRegressionCV

from sklearn.preprocessing import PolynomialFeatures


logit_model = LogisticRegression().fit(X_train, y_train)

logistic_model_score = logit_model.score(X_test, y_test)

In [17]:

print("Train set score: {0:4.4}%".format(logit_model.score(X_train, y_train)*100))
print("Test set score: {0:4.4}%".format(logit_model.score(X_test, y_test)*100))

Train set score: 90.3%
Test set score: 88.57%

In [18]:
logic_model_cv = LogisticRegressionCV(Cs=[1,10,100,1000,10000], cv=3, penalty='l2', 
                                       solver='newton-cg').fit(X_train,y_train)


print("Test set score with Cross Validation: {0:4.4}%".format(logic_model_cv.score(X_test, y_test)*100))

Test set score with Cross Validation: 88.86%

In [ ]:
X_train = PolynomialFeatures(degree=3, include_bias=False).fit_transform(X_train)
X_test = PolynomialFeatures(degree=3, include_bias=False).fit_transform(X_test)

logic_model_cv = LogisticRegressionCV(Cs=[1,10,100,1000,10000], cv=3, penalty='l2', 
                                       solver='newton-cg').fit(X_train,y_train)


print("Test set score with Polynomial Features and with Cross Validation: {0:4.4}%".format(logic_model_cv.score(X_test, y_test)*100))